[ req ]
default_bits           = 1024
days                   = 3650
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = password

[ req_distinguished_name ]
C                      = US
ST                     = CA
L                      = San Jose
O                      = Reqi
OU                     = Reqi Certificate Authority
CN                     = ReqiCA
emailAddress           = tyler@tylerlaskey.com

[ req_attributes ]
challengePassword              = password challenge